.know-me-butt{
  font-family: Borel,cursive;
  font-size: 60px; 
  background-color: transparent; 
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
  display: block;
	width: 70%;
  color: rgb(89, 11, 35);
  padding: 0;
  border: none;
  background: none;
}

.know-me-butt:hover{
 opacity: 0.7;
}

.bottom-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}