.mid-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid-sec-name {
  margin-left: 150px;
}

.mid-sec-about {
  margin-left: 150px;
}

.about {
  font-size: 50px;
}

.name {
  margin-top: 0;
  font-size: 40px;
}
